
html,body{
	height: 100%;
	width: 98%;
}
#areaDeTrabajo{
	width: 75%;
	height: 100%;
	float: left;
	border: 2px solid;
	margin-left: 1%;
}

h1,h2,h3 {
	color: #09f;
	text-decoration: none;
	font-family: sans-serif;
}

#menu1{
  width: 100%;
  height: 80%;

}


#menu {  text-align: center;
font-size: 0.85em;
width: 16%;
float: left;
position: relative;
padding-top: 10px;
left: -9px;
margin-bottom: -10px;
}


#menu ul { list-style-type: none;border: 0;
}
#menu ul li.nivel1 {
width: 100%;
}
#menu ul li.primera {
 border-top: solid 1px #FFF;

}
#menu ul li a {
display: block;
text-decoration: none;
color: #fff;
background-color: #399;
border: solid 1px #fff;
border-top: none;
padding: 8%;
position: relative;
}
#menu ul li:hover {
position: relative;
background-color: #6CC;
color: #000;

}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {
background-color: #6CC;
color: #000;
position: relative;

}
#menu ul li a.nivel1 {display: block!important;display: none;
position: relative;
}
#menu ul li ul {display: none;
}
#menu ul li a:hover ul, #menu ul li:hover ul {display: block;
position: absolute;
left: 79%;
top:-1px!important;
top: -31px;
}
#menu ul li ul li a {width: 150px;
background-color: #6CC;
color: #000;
}
#menu ul li ul li a:hover {position: relative;
background-color: #399;
color: #FFF;
}
table.falsa {border-collapse:collapse;
border:0px;
float: left;
position: relative;
}
